body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#subnav a {
  float: right;
}

.center-block {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.center-block .form-signin-heading,
.center-block .checkbox {
  margin-bottom: 10px;
}
.center-block .checkbox {
  font-weight: normal;
}
.center-block .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.center-block .form-control:focus {
  z-index: 2;
}
.center-block input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.center-block input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-dropdown-menu {
  position: absolute; cursor: default;
  z-index:30 !important;
  text-align: left;
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 18px;
}

.tt-suggestion.active {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion .info {
  margin: 0;
  display: inline-block;
}

.avatar-with-name div {
  margin: 0;
  display: inline-table;
}

.avatar, .avatar img {
  width: 72px;
  height: 72px;
}

.avatar-name {
  width: 400px;
}

.tt-suggestion div .username {
  font-size: 14px;
}

#description {
  width: 570px;
  height: 200px;
}

#submitted-btn-container a {
  display: inline-block;
}